NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:8000
API_PORT=8000
SEARCH_PORT=3001
WEB_PORT=3000
MONGODB_URL=mongodb://localhost:27017/guia_tes
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=nomic-embed-text
EMBEDDING_MODEL=nomic-embed-text
GENERAR_BIBLIA_BASE_PATH=/mnt/disco1/proyectos/guia_tes/manual
PYTHONPATH=/mnt/disco1/proyectos/guia_tes
TES_EMBEDDING_MODEL=nomic-embed-text
